<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Book Appointment</title>
</head>
<body>
    <h1>Book Your Appointment</h1>
    <form method="post" action="{{ url_for('submit_booking') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}<br>
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols=40, rows=4) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <script src="{{ url_for('static', filename='js/NodeSendingMails.js') }}"></script>
    <script src="{{ url_for('static', filename='js/NodeCreatingEvents.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>